<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All Petitions</title>
    </head>
    <body>
        <a th:href="@{/petitions/create}">Click here to create a new Petition!</a>
        <h1>Every petition</h1>
        <ul>
            <li th:each="petition : ${petitions}">
                <a th:href="@{/petitions/{id} (id=${petition.id})}" th:text="${petition.title}"></a>
            </li>
        </ul>
    </body>
</html>